@import '_template.scss';

.course {
    padding-top: 50px;
    padding-bottom: 50px;

    &__menu {
        display: flex;
        flex-wrap: wrap;

        &-item {
            color: $main-color;
            display: block;
            font-size: 1.1rem;
            margin-right: 30px;

            &.active {
                font-weight: bold;
            }
        }
    }

    &__title span {
        font-weight: bold;
    }

    &__master {
        color: #708687;
        font-size: 1.8rem;
        line-height: 115%;

        span {
            font-weight: bold;
        }
    }

    &__video {
        margin: 50px 0;
        max-width: 640px;

        a > img {
            object-fit: cover;
            max-width: 100%;
            height: auto;
            box-shadow: 0 0 5px #ccc;
        }

        a, iframe {
            padding: 5px;
            display: block;
            position: relative;
        }

        a:after {
            width: 64px;
            height: 64px;
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -32px;
            margin-top: -32px;
            background: url(../img/player_play.png) no-repeat;
            content: '';
            opacity: 0.8;
       }
    }

    &__text {
        color: #708687;
        font-size: 1.56rem;
        line-height: 132%;
    }

    &__h2 {
        color: $main-color;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 115%;
        margin-top: 40px;
        margin-bottom: 25px;
    }

    &__ul {
        padding: 0;

        li {
            color: #708687;
            font-size: 1.56rem;
            line-height: 132%;
            margin-left: 15px;
            position: relative;

            &::before {
                background: #708687;
                border-radius: 50%;
                content: '';
                height: 5px;
                width: 5px;
                position: absolute;
                top: 15px;
                left: -15px;
            }
        }
    }

    &__button {
        background: $main-color;
        border: none;
        color: #FFFFFF;
        font-size: 1.81rem;
        margin: 50px 0;
        padding: 5px;
        text-align: center;
        width: 400px;
    }
}

.modal-window {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &.active {display: block;}

    &__overflow {
        background: rgba($color: #000000, $alpha: 0.5);
        height: 100%;
        width: 100%;
    }

    &__form {
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 50px 30px;
        height: auto;
        width: 300px;
    }

    &__close {
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
        height: 20px;
        width: 20px;
    }

    &__title {
        color: $main-color;
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
    }

    &__input {
        width: 100%;

        label {
            display: block;
        }

        input {
            width: 100%;
        }
    }

    &__submit {
        background: $main-color;
        border: none;
        color: #FFFFFF;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
    }
}

@media screen and (max-width: 675px) {
    .course {
        &__button {
            margin: 30px auto;
            width: 270px;
        }
    }
}