@import '_template.scss';

.banner {
    position: relative;

    &__link {
        align-items: center;
        background: rgba($color: #eb6631, $alpha: .85);
        border-radius: 50%;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
        height: 150px;
        width: 150px;
        position: absolute;
        right: 20px;
        bottom: 100px;

        &:hover {
            color: #FFFFFF;
        }

        p {
            font-size: 16px;
            margin: 0;
            text-align: center;
            width: 100px;
            line-height: 110%;
        }

        span {
            font-weight: bold;
        }
    }

    &__text {
        text-shadow: 0 0 10px rgb(221, 221, 221);
        color: $main-color;
        font-size: 4rem;
        font-weight: bold;
        line-height: 100%;
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 70%;
    }
}

.slider {
    padding-bottom: 100px;
    position: relative;

    &__wrapper {
        position: relative;
    }

    &__filter {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $main-color;
        opacity: 0.25;
        transition: .3s ease-in-out;
        cursor: pointer;

        &:hover {
            opacity: 0;
        }
    }

    &__arrow {
        img {
            height: 65px;
            width: 65px;
        }
    }

    .lSAction img {
        height: 65px;
        width: 65px;
    }

    .lSPrev {
        background: none;
        height: 65px;
        width: 65px;
        opacity: 1;
    }

    .lSNext {
        background: none;
        height: 65px;
        width: 65px;
        opacity: 1;
    }
}

.digits {
    padding-bottom: 100px;

    & * {
        text-align: center;
    }

    &__item {
        img {
            transition: .3s;

            &:hover {
                transform: scale(1.2);
            }
        }

        #digit_1 {
            height: 139px;
            width: 152px;
        }

        #digit_2 {
            height: 144px;
            width: 146px;
        }

        #digit_3 {
            height: 143px;
            width: 134px;
        }
    }

    &__number {
        color: $main-color;
        font-size: 3.75rem;
        font-weight: bold;
    }

    &__description {
        color: $main-color;
        font-size: 2.05rem;
        line-height: 114%;
    }
}

@media (max-width: 1100px) {
    .banner__link {
        bottom: 70px;
    }
}

@media (max-width: 991px) {
    .banner__text {
        bottom: 15%;
        font-size: 3rem;
    }
}

@media (max-width: 950px) {
    .banner {
        &__link {
            bottom: 40px;
            height: 120px;
            padding-top: 10px;
            width: 120px;

            p {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .digits__item + .digits__item {margin-top: 30px;}
}

@media (max-width: 680px) {
    .banner__link {display: none;}
}

@media (max-width: 600px) {
    .banner__text {
        font-size: 2rem;
    }
}

@media (max-width: 400px) {
    .banner__text {
        bottom: 20%;
        font-size: 1.5rem;
    }
}