@import '_template.scss';

.login{
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;

    &__wrapper {
        align-items: center;
        border: 3px solid #009639;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 30px;
        width: 300px;

        img {
            height: 100px;
            margin-bottom: 15px;
            width: 100px;
        }

        h1 {
            color: #009639;
            font-weight: bold; 
            margin-bottom: 15px;
        }

        input {
            font-size: 1.2rem;
            height: 47px;
            margin-top: 15px;
            padding: 5px;
            width: 100%;

            &:hover {
                border-color: #009639;
            }

            &:focus {
                outline: #009639;
            }
        }

        button {
            background: #009639;
            border: none;
            color: #FFFFFF;
            cursor: pointer;
            font-size: 1.81rem;
            margin-top: 15px;
            padding: 5px;
            text-align: center;
            width: 100%;
        }
    }
}