@charset "UTF-8";
/*======================= Основной шрифт =======================*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*======================= Переменные =======================*/
/*======================= Базовые стили =======================*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  margin: 0;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-family: "PT Sans", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: brightness(0.95);
          filter: brightness(0.95);
}

/*======================= Шапка =======================*/
.navbar {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar__logo img {
  height: 121px;
  width: 121px;
  -webkit-transition: .3s;
  transition: .3s;
}

.navbar__logo img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.navbar__links {
  margin-left: 20px;
}

.navbar__item {
  color: #009639;
  font-size: 1.1rem;
  padding: 10px 15px;
  -webkit-transition: .5s;
  transition: .5s;
}

.navbar__item:hover {
  background: #009639;
  color: #ffffff;
}

.navbar__item.active {
  background: #009639;
  color: #ffffff;
  font-weight: bold;
}

.navbar__phone {
  color: #009639;
  font-size: 2rem;
}

.navbar__phone:hover {
  color: #009639;
}

.navbar__search {
  background: #edf4fb;
  height: 60px;
  padding: 0;
}

.navbar__search input {
  background: none;
  border: none;
  color: #a1cbed;
  font-size: 1.1rem;
  font-style: italic;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
}

.navbar__search input:focus {
  border: none;
}

.navbar__search input::-webkit-input-placeholder {
  color: #a1cbed;
  font-size: 1.1rem;
  font-style: italic;
}

.navbar__search input:-ms-input-placeholder {
  color: #a1cbed;
  font-size: 1.1rem;
  font-style: italic;
}

.navbar__search input::-ms-input-placeholder {
  color: #a1cbed;
  font-size: 1.1rem;
  font-style: italic;
}

.navbar__search input::placeholder {
  color: #a1cbed;
  font-size: 1.1rem;
  font-style: italic;
}

.navbar__search button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  height: 100%;
}

.navbar__search button img {
  height: 39px;
  width: 35px;
}

.menu {
  overflow: hidden;
  padding-top: 64px;
  margin-top: -64px;
  padding-bottom: 580px;
  margin-bottom: -580px;
}

.menu__padding {
  height: 64px;
}

.menu__limiter {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  cursor: -webkit-grab;
  cursor: grab;
  padding-top: 64px;
  margin-top: -64px;
  padding-bottom: 600px;
  margin-bottom: -600px;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.menu__item {
  position: relative;
  width: 196px;
}

.menu__item:hover > .menu__dropdown {
  display: block;
}

.menu__item:not(:last-child) {
  margin-right: 24px;
}

.menu__item.active .menu__button::before {
  background-image: url(../img/menu_check.png);
  background-repeat: no-repeat;
  background-position: center;
}

.menu__button {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 20px;
  position: relative;
  width: 100%;
}

.menu__button::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  height: 100%;
  width: 100%;
}

.menu__button:hover {
  -webkit-transform: none;
          transform: none;
}

.menu__button#first {
  background-color: #43b02a;
}

.menu__button#first::before {
  background-color: rgba(67, 176, 42, 0.45);
}

.menu__button#first + .menu__dropdown {
  background-color: rgba(67, 176, 42, 0.85);
}

.menu__button#second {
  background-color: #009639;
}

.menu__button#second::before {
  background-color: rgba(0, 150, 57, 0.45);
}

.menu__button#second + .menu__dropdown {
  background-color: rgba(0, 150, 57, 0.85);
}

.menu__button#third {
  background-color: #6cace4;
}

.menu__button#third::before {
  background-color: rgba(108, 172, 228, 0.45);
}

.menu__button#third + .menu__dropdown {
  background-color: rgba(108, 172, 228, 0.85);
}

.menu__button#fourth {
  background-color: #a1cbed;
}

.menu__button#fourth::before {
  background-color: rgba(161, 203, 237, 0.45);
}

.menu__button#fourth + .menu__dropdown {
  background-color: rgba(161, 203, 237, 0.85);
}

.menu__button#fivth {
  background-color: #eb6631;
}

.menu__button#fivth::before {
  background-color: rgba(235, 102, 49, 0.45);
}

.menu__button#fivth + .menu__dropdown {
  background-color: rgba(235, 102, 49, 0.85);
}

.menu__button#sixth {
  background-color: #47ae64;
}

.menu__button#sixth::before {
  background-color: rgba(71, 174, 100, 0.45);
}

.menu__button#sixth + .menu__dropdown {
  background-color: rgba(71, 174, 100, 0.85);
}

.menu__dropdown {
  display: none;
  position: absolute;
  top: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 10;
}

.menu__dropdown a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  width: 196px;
}

.menu__dropdown a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.title {
  color: #009639;
  font-size: 2.35rem;
  margin: 50px 0 30px;
}

.footer {
  background-color: #009639;
}

.footer__row {
  padding: 50px 0 125px;
}

.footer__name {
  width: 100%;
}

.footer__name img {
  height: 83px;
  width: 83px;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__name img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer__name p {
  color: #ffffff;
  font-size: 1.08rem;
  font-weight: bold;
  margin-left: 25px;
  line-height: 125%;
}

.footer__tagline {
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 110%;
  width: 100%;
}

.footer__links {
  width: 100%;
}

.footer__links + .footer__links {
  margin-top: 50px;
}

.footer__link {
  color: #ffffff;
  display: block;
  font-size: 1.08rem;
  line-height: 144%;
}

.footer__link:hover {
  color: #d6d6d6;
}

.footer__link.active {
  font-weight: bold;
}

.footer__address {
  color: #ffffff;
  font-size: 1.08rem;
  width: 100%;
}

.footer__address a {
  color: #ffffff;
  font-weight: bold;
}

.footer__additional {
  width: 100%;
}

.footer__messanger + .footer__messanger {
  margin-left: 25px;
}

.footer__messanger img {
  height: 55px;
  width: 55px;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__messanger img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer__divider {
  border-bottom: 1px solid #ffffff;
  margin: 50px 0 20px;
}

.footer__copyright {
  color: #ffffff;
  font-size: 1.08rem;
}

@media (max-width: 1399.98px) {
  .menu__item:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 1199.98px) {
  .navbar__logo img {
    height: 80px;
    width: 80px;
  }
  .navbar__links {
    margin-left: 7px;
  }
  .navbar__phone {
    font-size: 1.2rem;
  }
  .footer__tagline {
    margin-bottom: 20px;
    text-align: right;
  }
  .footer__links + .footer__links {
    margin-top: 10px;
  }
  .footer__link {
    text-align: center;
  }
  .footer__contacts {
    margin-top: 20px;
  }
  .footer__contacts * {
    text-align: center;
  }
  .footer__messangers {
    margin-top: 20px;
    text-align: center;
  }
  .footer__copyright {
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .menu__item:not(:last-child) {
    margin-right: 35px;
  }
}

@media (max-width: 1020px) {
  .menu__item:not(:last-child) {
    margin-right: 14px;
  }
}

@media (max-width: 991.98px) {
  html {
    font-size: 14px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar__collapse > * {
    margin-top: 10px;
  }
  .navbar__links {
    margin-left: 0;
  }
  .navbar__phone {
    padding-left: 15px;
  }
  .navbar__search {
    margin-top: 15px;
  }
}

@media (max-width: 950px) {
  .menu__item:not(:last-child) {
    margin-right: 64px;
  }
  .menu__button::before {
    height: 50%;
  }
  .menu__item.active .menu__button::before {
    background-size: contain;
  }
}

@media (max-width: 876px) {
  .menu__item:not(:last-child) {
    margin-right: 34px;
  }
}

@media (max-width: 767.98px) {
  .menu__item:not(:last-child) {
    margin-right: 10px;
  }
  .footer__name {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__tagline {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .menu__item:not(:last-child) {
    margin-right: 64px;
  }
  .menu__button::before {
    height: 30%;
  }
}

@media (max-width: 600px) {
  .menu__item:not(:last-child) {
    margin-right: 24px;
  }
}

@media (max-width: 520px) {
  .menu__item:not(:last-child) {
    margin-right: 5px;
  }
}

@media (max-width: 470px) {
  .menu__item:not(:last-child) {
    margin-right: 64px;
  }
}

@media (max-width: 360px) {
  .menu__item:not(:last-child) {
    margin-right: 10px;
  }
}

.vebinar {
  padding-top: 50px;
  padding-bottom: 50px;
}

.vebinar + .vebinar {
  padding-top: 0;
}

.vebinar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vebinar__menu-item {
  color: #009639;
  display: block;
  font-size: 1.1rem;
  margin-right: 30px;
}

.vebinar__menu-item.active {
  font-weight: bold;
}

.vebinar__title span {
  font-weight: bold;
}

.vebinar__date {
  color: #708687;
  font-size: 1.2rem;
}

.vebinar__master {
  color: #708687;
  font-size: 1.8rem;
  line-height: 115%;
}

.vebinar__master span {
  font-weight: bold;
}

.vebinar__video {
  margin: 50px 0;
  max-width: 640px;
}

.vebinar__video a > img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
}

.vebinar__video a, .vebinar__video iframe {
  padding: 5px;
  display: block;
  position: relative;
}

.vebinar__video a:after {
  width: 64px;
  height: 64px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
  background: url(../img/player_play.png) no-repeat;
  content: '';
  opacity: 0.8;
}

.vebinar__text {
  color: #708687;
  font-size: 1.2rem;
  line-height: 132%;
}

.vebinar__h2 {
  color: #009639;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 115%;
  margin-top: 40px;
  margin-bottom: 25px;
}

.vebinar__ul {
  padding: 0;
}

.vebinar__ul li {
  color: #708687;
  font-size: 1.56rem;
  line-height: 132%;
  margin-left: 15px;
  position: relative;
}

.vebinar__ul li::before {
  background: #708687;
  border-radius: 50%;
  content: '';
  height: 5px;
  width: 5px;
  position: absolute;
  top: 15px;
  left: -15px;
}

@media screen and (max-width: 675px) {
  .vebinar__button {
    margin: 30px auto;
    width: 270px;
  }
}
/*# sourceMappingURL=vebinar.css.map */